annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
cryptography==46.0.6
fastapi==0.129.0
greenlet==3.3.2
h11==0.16.0
httptools==0.7.1
idna==3.11
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
playwright==1.58.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
pypdfium2==5.6.0
python-dotenv==1.2.2
python-multipart==0.0.22
PyYAML==6.0.3
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uv==0.9.26
uvicorn==0.41.0
watchfiles==1.1.1
websockets==16.0
